body{
    margin:0px;
    font-family: 'DM Sans';
}

p, h1, h2, h4{
    margin:0px
}

ul {
    list-style:none;
}

h1 {
    margin-bottom: 22px;
    font-size: 40px;
}

.container {
    width: 90%;
    margin: 0px auto;

}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu {
    display: flex;
    width: 300px;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
}

.imagen-logo {
    width: 180px;
    margin-right:60px;

}

#btn-ingresar {
    background-color: rgb(119, 73, 248);
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
}

main{
    width: 100%;
    height: 500px; 
    background-image: url("./Materiales/manos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

#main{
    text-align: center;
    color: white;
}

p{
    gap:8px;
    font-size: 17px;
}


@media (max-width: 390px) {
   #menu {
    display: none;
   }
  }
.contenedor-nosotros {
  background-color: #5298ff;
  padding: 50px 0px;
}

.Nosotros{
  width: 100%;
  height: 350px; 
  
}

  .seccion-nosotros {
    color: white;
    overflow:hidden;
    display: flex;
    justify-content: space-around;
    
  }

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }


  .imagen-nosotros {
    width: 700px;
    height: 350px;
  
  }

  .contenido-nosotros {
    margin: 10px 50px 10px 50px;
    color:white;

  }

  
@media (max-width: 1400px) {
    .imagen-nosotros {
        width: 500px;
        height: 250px;
    }
    h2 {
      font-size: 35px;
    }
    p {
      font-size: 18px;
    }
}

.white{
    color:  white;
}

.contenido-categorias {
  text-align: center;
  margin-top: 80px;
  color:black;
}

.contenido-categorias h2 {
  margin-bottom: 25px;
}
.categoria {
  margin: 20px auto; 
  padding: 30px 20px 0px 20px;
  width: 240px;
  height: 175px;
  border-radius: 10px;
  font-size: 40px;

}



#categoria-red {
  background-color: rgb(220, 53, 69)
}

#categoria-yellow {
  background-color: rgb(255, 156, 7)
}

#categoria-green {
  background-color: rgb(40, 167, 69)
}
#categoria-blue {
  background-color: rgb(23, 162, 184)
}

.iconos-categoria {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.iconos-categoria span {
  font-weight: bold;
}

.img-icono {
  height: 60px;
  width: 60px;
}

#icono-mano {
  width: 40px;
}

.titulo-categoria {
  font-size: 34px;
  font-weight: lighter;
}


.noticias {
  margin: 80px 0px 0px 0px;
  background-color: rgba(234, 232, 238, 0.848);
  height: 620px;
}

.noticias h2 {
  padding-top: 30px;
  color: rgb(84, 85, 86);
}
.imagen-noticias{
    width: 280px;
    height: 200px

}

.seccion-noticias{
    color:black;
}

h4{
   font-size: 25px; 
}

.categoria-noticias{
    height: 390px;
    width: 290px;
    background-color: rgba(246, 243, 243, 0.937);
    padding-bottom: 20px;
    margin-left: 5px;
  
}

.contacto-formulario {
  margin-top: 80px;
  height: 300px;
}

.imagen-contacto {
  background-image: url("./Materiales/laptop-escritorio.jpg");
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 600px;
}

.contacto-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 20px;
}
