body{
    margin:0px;
    font-family: 'DM Sans';
    
}

p, h1, h2, h4{
    margin:0px
}

ul {
    list-style:none;
}

h1 {
    margin-bottom: 22px;
    font-size: 40px;
}

h2 {
  font-size: 35px;
}

p {
  font-size: 20px;
}

textarea {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border-color: rgb(208, 210, 210);
  padding: 5px;
}

input {
  border-radius: 5px;
  border-color: rgb(208, 210, 210);
  padding: 5px;
 
}

p{
  gap:8px;
  font-size: 17px;
}


.container {
    width: 90vw;
    margin: 0px auto;
  
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#overlay{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#menu {
    display: flex;
    width: 300px;
    justify-content: space-around;
    font-size: 18px;
    font-weight: bold;
}

.imagen-logo {
    width: 180px;
    margin-right:60px;

}

.boton {
    background-color: rgb(119, 73, 248);
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
}

main{
    width: 100%;
    height: 500px; 
    background-image: url("./Materiales/manos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

#main{
    text-align: center;
    color: white;
}



@media (max-width: 390px) {
   #menu {
    display: none;
   }
  }
.contenedor-nosotros {
  background-color: #5298ff;
  padding: 50px 0px;
}

.Nosotros{
  width: 100%;
  height: 350px; 
  
}

  .seccion-nosotros {
    color: white;
    overflow:hidden;
    display: flex;
    justify-content: space-around;
    
  }

  


  .imagen-nosotros {
    width: 700px;
    height: 350px;
  
  }

  .contenido-nosotros {
    margin: 10px 50px 10px 50px;
    color:white;

  }



.white{
    color:  white;
}

.contenido-categorias {
  text-align: center;
  margin-top: 80px;
  color:black;
}

.contenido-categorias h2 {
  margin-bottom: 25px;
}
.categoria {
  margin: 20px auto; 
  padding: 30px 20px 0px 20px;
  width: 240px;
  height: 175px;
  border-radius: 10px;
  

}

h2{
  font-size: 40px;  
}

#categoria-red {
  background-color: rgb(220, 53, 69)
}

#categoria-yellow {
  background-color: rgb(255, 156, 7)
}

#categoria-green {
  background-color: rgb(40, 167, 69)
}
#categoria-blue {
  background-color: rgb(23, 162, 184)
}

.iconos-categoria {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.iconos-categoria span {
  font-weight: bold;
}

.img-icono {
  height: 60px;
  width: 60px;
}

#icono-mano {
  width: 40px;
}

.titulo-categoria {
  font-size: 34px;
  font-weight: lighter;
}


.noticias {
  margin: 80px 0px 0px 0px;
  background-color: rgba(234, 232, 238, 0.848);
  height: 620px;
}

.noticias h2 {
  padding-top: 30px;
  color: rgb(84, 85, 86);
}
.imagen-noticias{
    width: 280px;
    height: 200px

}

.seccion-noticias{
    color:black;
}

h4{
   font-size: 25px; 
}

.categoria-noticias{
    height: 390px;
    width: 290px;
    background-color: rgba(246, 243, 243, 0.937);
    padding-bottom: 20px;
    margin-right: 5px;
  
}

.contacto{
    height: 400px;
    width: 100%;
}
.contacto-formulario {
  margin-top: 80px;
  height: 300px;
  width: 400px;
}

.contacto-formulario h2 {
  margin-bottom: 20px;
}

form button {
  margin-top: 10px;
  width: 80px;
}


.imagen-contacto {
  background-image: url("./Materiales/laptop-escritorio.jpg");
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 450px;
  margin-right: 50px;
}

#contacto-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 18px;
  gap: 10px;
}

.contacto-left{
  height: 120px;
}
.contacto-right{
  height: 120px;
}

footer{
    height: 180px;
    width:100%;
    background-color: rgb(119, 73, 248);
    color:white;
    font-family: 'DM Sans';
    display: flex;
    align-items: center;
    justify-content:space-around
    

    

}

#imagen-footer{
    height: 30px;
    width:140px;
    margin-bottom:80px;
}

.imagenes-redes{
    height:20px;
    width:20px;
}

#flex-footer{
    display:flex;
    justify-content: space-around;
    font-weight: bold;
    border-bottom: 1px solid white;

}
#footer-left{
    padding-right: 180px;
    
}
footer li{
    margin-bottom: 10px;
}

#footer-right{
    margin-bottom: 80px;
}

#flex-registrar{
    display:flex;
    justify-content: space-between;
}

#modal {
  position: fixed;
  display: none;
  background-color: rgb(255, 254, 254);
  margin: 20px;
  border-radius: 10px;
  top: 25%;
  left: 25%;
  right: 25%;

}

#imagen-modal {
  background-image: url("./Materiales/imagen-modal.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 450px;
 height: 450px;
}

#contenido-modal {
  height: 450px;
  margin: 25px;
  text-align: center;
}

.card {
  height: 150px;
  width: 400px;
  margin: 25px 0px 10px 0px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.card-left {
 height: 150px;  
 width: 70px;
 
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
 display:flex;
 align-items: center;
 justify-content: center;

}
#card-empresa {
  background-color: #5298ff;
}
#card-organizacion {
  background-color: rgb(119, 73, 248);
}

.card-right{
 margin: 15px 0px 5px 20px;
 color: rgb(202, 199, 199);
 text-align: start;

}

.card-right h2 {
  margin-bottom: 10px;
}

#card-right1 h2{
  color: #5298ff;
 }

 #card-right1 h2{
  color: rgb(119, 73, 248);
 }

 .card-right p {
  font-size: 18px;
  /* Definir un ancho fijo para que el texto se tire hacia abajo width:295px o margin-left:20px */
  margin-right: 20px;
 }


.card-left img{
  height: 35px;

}

#arrow{
    transform: rotate(-180deg);
}

#btn-close-cross{
    height:20px;
    width:20px;
}

aside h2{
    font-size: 20px;
}

  

@media (max-width: 390px) {
    #menu {
     display: none;
    }
}

@media (max-width: 1400px) {
    .imagen-nosotros {
        width: 500px;
        height: 250px;
    }
    h2 {
      font-size: 35px;
    }
    p {
      font-size: 18px;
    }
}

@media (max-width: 390px){
    .nosotros-media{
        display:none;
    }
    .categoria-media{
        display:block;
    }
    .noticias-media{
        display:block;
    }
    .contacto-media{
        display:block;
    }
    .footer-media{
        display:block;
    }

}




